# Ignore environment variables
.env

# Ignore node_modules
node_modules/

storybook-static/

.DS_Store
Thumbs.db

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore package manager lock files
package-lock.json
yarn.lock